#main {
  display: block;
}
#main h1, #main p, #main a {
  margin: 0 auto;
  text-align: center;
  display: block;
}
#main h1 {
  width: 600px;
  line-height: 100%;
  font-size: 5rem;
  margin-top: 15rem;
}
#main p {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 120%;
  width: 500px;
}
#main a {
  margin: 80px auto;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  #main h1 {
    width: 80%;
    line-height: 100%;
    font-size: 4rem;
    margin-top: 10rem;
  }
  #main p {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    width: 80%;
  }
  #main a {
    margin: 40px auto;
    margin-bottom: 50px;
  }
}
@keyframes wave {
  0% {
    transform: rotateZ(-30deg);
  }
  100% {
    transform: rotateZ(30deg);
  }
}
.wave {
  animation-name: wave;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
  position: absolute;
  margin-left: 5px;
}

#intro h2 {
  font-size: 3.3rem;
}
#intro p {
  font-size: 1.5rem;
  line-height: 130%;
}
#intro .card {
  padding: 50px;
  border-radius: 30px;
}
@media screen and (max-width: 768px) {
  #intro h2 {
    font-size: 2.5rem;
  }
  #intro p {
    font-size: 1.3rem;
    line-height: 130%;
  }
  #intro .card {
    padding: 30px;
  }
}

#beginner-friendly {
  background-color: white;
}
#beginner-friendly h2 {
  background: #00d1ff;
  background: -webkit-linear-gradient(70deg, #3EE90C 0%, #ADEB1D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#beginner-friendly h2 > span {
  -webkit-text-fill-color: white;
}

#modular-moddable {
  background-color: #252D35;
}
#modular-moddable h2 {
  background: #00d1ff;
  background: -webkit-linear-gradient(70deg, #3affff 0%, #d300ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#modular-moddable h2 > span {
  -webkit-text-fill-color: white;
}
#modular-moddable p {
  color: white;
}

#try > div > * {
  display: inline-block;
}
#try > h2 {
  text-align: left;
  font-size: 5rem;
  margin-bottom: 0rem;
}
@media screen and (max-width: 768px) {
  #try > h2 {
    font-size: 2rem;
  }
}
#try > p {
  text-align: left;
  font-size: 1.8rem;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
  line-height: 120%;
  width: 40%;
}
@media screen and (max-width: 768px) {
  #try > p {
    font-size: 1.2rem;
    width: 100%;
  }
}

#symbols {
  background-color: #f3f3f3;
  min-width: 150px;
  margin-left: 20px;
}
#symbols span {
  background-color: #188d7d;
  box-shadow: 0px 2px 10px rgba(33, 46, 51, 0.14);
  border-radius: 20px;
  padding: 5px 15px;
  color: white;
  font-weight: bold;
  margin: 0px 5px;
}

#try-text {
  grid-column: 1/6;
  border-radius: 18px;
  padding: 40px;
}
#try-text > p {
  line-height: 100%;
}
@media screen and (max-width: 768px) {
  #try-text {
    grid-column: 1/13;
    padding: 20px;
  }
}

.code-header {
  width: 100%;
  height: 36px;
  background-color: #373b49;
  margin-bottom: 10px;
  padding: 0px 10px;
  box-sizing: border-box;
}
.code-header div {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  position: relative;
  display: inline-block;
  margin: 11px 2.5px;
  margin-top: 13px;
}
.code-header .red {
  background-color: #ee365e;
}
.code-header .green {
  background-color: #63f736;
}
.code-header .yellow {
  background-color: #ffe23b;
}
.code-header p {
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
  font-size: 0.8rem;
}

.code-content {
  position: relative;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .code-content {
    overflow-x: scroll;
  }
}

#try-code {
  position: relative;
  grid-column: 6/13;
  background-color: #292c38;
  border-radius: 20px;
  z-index: 1;
  overflow: hidden;
}
#try-code code {
  width: 100%;
  position: relative;
}
#try-code pre {
  margin-left: 60px;
  margin-top: 0px;
  font-size: 1rem;
  color: white;
}
@media screen and (max-width: 768px) {
  #try-code pre {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  #try-code {
    grid-column: 1/13;
    margin-top: 20px;
  }
}
#try-code .line-numbers {
  counter-reset: num;
  position: absolute;
  top: 46px;
  left: 0px;
  width: 40px;
  border-right: 1px solid #454a5a;
  padding-right: 10px;
  text-align: right;
  z-index: 1;
}
#try-code .line-numbers .number {
  display: block;
}
#try-code .line-numbers .number::before {
  content: counter(num);
  counter-increment: num;
  color: #777777;
  font-size: 1rem;
  font-family: "Fira Code", monospace;
}
@media screen and (max-width: 768px) {
  #try-code .line-numbers .number::before {
    font-size: 0.9rem;
  }
}

#try-shell {
  grid-column: 6/13;
  background-color: #292A2E;
  border-radius: 20px;
  overflow: hidden;
}

/*# sourceMappingURL=landing.css.map */
