@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@mixin shadow($float: 0.5) {
    $shadow-outline-y: $float * 5px;
    $shadow-outline-alpha: $float * 0.15;


    $shadow-main-y: $float * 50px;
    $shadow-main-blur: 30px + $float * 20px;
    $shadow-main-spread: $float * -20px;
    $shadow-main-alpha: 0.05 + $float * 0.10;

    box-shadow: 
        0px $shadow-outline-y 30px rgba(67, 70, 75, $shadow-outline-alpha), 
        0px $shadow-main-y $shadow-main-blur $shadow-main-spread rgba(32, 34, 46, $shadow-main-alpha);
}

@mixin grid(){
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
}

// Layout

html{
    font-size:16px;
}

body {
    margin:0;
}

main{
    position: relative;
}

section{
    @include grid();
    margin: 0px auto;
    padding: 60px;
    width: 1000px;

    > *{
        grid-column: 1 / -1;
    }
}

@media screen and (max-width: 768px){
    section{
        width: 90%;
        margin: 30px auto;
    }
}

// Classless

nav{
    @include shadow(0.1);
    width:100%;
    position: fixed;
    top: 0;
    padding: 15px 0px;
    z-index: 1;

    display: flex;

    //border-bottom: 1px solid #e6e6e6;

    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.877);

    ul{
        margin:0 auto;
        padding: 0;
        display: flex;
        align-items: center;

        li{
            margin:0 20px;
            display: inline-block;

            a{
                text-decoration: none;
                font-family: 'Inter';
                color:rgb(37, 37, 37);
            }
        }
    }
}

@media screen and (max-width: 768px){
    nav{
        width:100%;
        ul{
            margin:0 auto;
            padding: 0;
            display: flex;
            align-items: center;
    
            li{
                margin:0 20px;
                display: inline-block;
    
                a{
                    text-decoration: none;
                    font-family: 'Inter';
                    color:rgb(37, 37, 37);
                }
            }
        }
    }
}

table{
    text-align: left;
}

button{
    @include shadow(0.2);
    padding: 10px 20px;
    font-family: "Inter";
    color:white;
    background-color: rgb(19, 19, 19);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


h1, h2, h3, h4, h5, h6, th{
    font-family: 'Manrope', sans-serif;
    line-height: 95%;
    color: #202325;
}

p, ul, li, a, td{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 150%;
    color: #757575;
}

h1{
    font-size: 3rem;
    letter-spacing: -0.05em;
    font-weight: 800;
}
h2{
    font-size: 3.0rem;
    letter-spacing: -0.05em;
}

a{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color:inherit;
}

th{
    font-size: 1rem;
    border-bottom:1px rgb(180, 180, 180) solid;
}

td{
    border-bottom:1px rgb(180, 180, 180) solid;
}

code, pre{
    font-family: 'Fira Code', monospace;
}

footer{
    position: relative;
    display: flex;
    background-color: rgb(236, 236, 236);
    width:100%;
    height:300px;

    > div{
        
        @include grid();
        width:1000px; 
        margin:50px auto;

        > div{
            grid-column: span 4;

            > *{
                display: block;
            }
        }
    }
}

// Elements

nav{
    #logo{
        position: absolute;
        left: Calc(50% - 500px);
        width:100px;
        height:30px;
        @media screen and (max-width: 768px){
            left:10px;
            width:30px;
            overflow-x: hidden;
        }
    }
    #github{
        position: absolute;
        right: Calc(50% - 500px);
    }
    img{
        height:25px;
    }
}



.card{
    border-radius: 8px;
    padding: 25px;

    grid-column: span 4;
    &.col-2{ grid-column: span 6;}
    &.col-3{ grid-column: span 4;}
    &.col-4{ grid-column: span 3;}

    @media screen and (max-width: 768px){
        margin: 10px 0px;

        grid-column: span 12;
        &.col-2{ grid-column: span 12;}
        &.col-3{ grid-column: span 12;}
        &.col-4{ grid-column: span 12;}
    }

    &.clickable{cursor: pointer;}
    &.nonclickable{cursor: not-allowed;}

    h2{
        font-size: 35px;
        width:90%;
        line-height: 100%;
    }
}

.shadow{
    @include shadow(0.2);
}

.shadow-dark{
    @include shadow(1.2);
}

button{
    font-size: 1rem;
    background: rgb(8,199,70);
    background: linear-gradient(144deg, rgba(8,199,70,1) 0%, rgba(171,219,12,1) 100%);
}

.select:hover{
    @include shadow(0.0);
}

.select{
    @include shadow(0.1);
    position: relative;
    padding: 8px 14px;
    display: inline-block;
    width: 150px;
    border: 1px solid #e8e9ec;
    border-radius: 8px;
    background-color: white;
    
    cursor: pointer;
    p {
        margin: 0;
        color: #494949;
    }
    div {
        //z-index: 1;
        width:178px;
        position: absolute;
        top: calc(100% + 5px);
        left:0px;
        cursor: pointer;
        font-size: 1rem;
        background-color: rgb(250, 250, 250);
        @include shadow(0.1);
        border: 0px solid #cecfd3;
        
        border-radius: 8px;
        overflow-y: hidden;
        
        display: inline-block;

        li{
            margin: 5px 8px;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 5px 10px;
            list-style: none;
        }
        li:hover{
            background-color: rgb(226, 226, 226);
            transition: 0.2s ease-in-out;
        }
        p{
            font-family: 'Inter';
            font-size: 1rem;
            padding: 1px 10px;
            margin:0px;
        }
    }

    &.open{
        border-color: rgb(42, 180, 104);
        box-shadow: 0px 0px 10px rgb(24, 180, 50);
        div{
            transition: 0.2s ease-in-out;
            border-width: 1px;
            padding: 8px 0px;
        }
    }

}

.text{
    &:focus{
       // outline: 2px solid #bcc0c2;
        border-color: rgb(42, 180, 104);
        box-shadow: 0px 0px 10px rgb(24, 180, 50);
    }
    padding: 9px 5px;
    border-radius: 4px;
    font-family: 'Inter';
    outline: none;
    resize: none;
    background-color: whitesmoke;

}
