@import 'main.scss';

article{

    width:1000px;
    margin:0 auto;
    @include grid();

    @media screen and (max-width: 768px){
        width:90%;
        
    }

    header, h1, h2, h3, h4, p, ul{
        grid-column: 3 / -3;
        @media screen and (max-width: 768px){
            grid-column: 1 / -1;
        }
    }

    pre, code{
        grid-column: 2 / -2;
        @media screen and (max-width: 768px){
            grid-column: 1 / -1;
        }
    }

    h1{ font-size: 40px; }
    h2{ font-size: 30px; }
    h3{ font-size: 20px; }
    h4{ font-size: 16px; }
}