 <nav class="z-10 navbar shadow-sm bg-base-100 fixed">
    <div>
        <div class="navbar-start flex items-center">
            <a id="logo" class="w-20 lg:w-28" href="{{ '/' | url }}" >       
                <img  src="{{ '/asset/logo.svg' | url }}"/>
            </a>
            <div class="ml-4 lg:ml-8 badge badge-outline badge-primary"><code>v0.5</code></div>
        </div>
        <div class="navbar-center">
          
            <!-- <ul class="menu menu-horizontal rounded-box p-2">
                <li><a href="{{ '/tutorials' | url }}">Tutorials</a></li>
                <li><a href="{{ '/docs' | url }}">Docs</a></li>
            </ul> -->
        </div>
        <div class="navbar-end text-right">
            <ul class="menu menu-horizontal rounded-box p-2">
                <!-- <li><a href="{{ '/tutorials' | url }}">Tutorials</a></li> -->
                <li><a href="{{ '/docs' | url }}">Docs</a></li>
                <li><a href="https://github.com/tfukaza/harvest">GitHub</a></li>
            </ul>
            <!-- <a id="github" href="https://github.com/tfukaza/harvest"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" /></a> -->
        </div>
    </div>
</nav>