 <nav>
    <a id="logo" href="{{ '/' | url }}" ></a>
    <ul>
        <li><a href="{{ '/tutorials' | url }}">Tutorials</a></li>
        <li><a href="{{ '/docs' | url }}">Docs</a></li>
    </ul>
    <a id="github" href="https://github.com/tfukaza/harvest"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" /></a>
</nav>