---
// const props = Astro.props;
---
<div class="doc-hr"></div>

<style>
    .doc-hr {
        border-top: 1px solid #dfdfdf;
        margin: 50px 80px;
        box-sizing: border-box;
    }
</style>