---
// const props = Astro.props;
---
<div class="doc-hr">
    <span></span>
</div>

<style lang="scss">
    .doc-hr {
        margin: 60px 80px;
        display: flex;
        justify-content: center;
        
        > span {
            display: inline-block;
            width: 100px;
            height: 6px;
            border-radius: 3px;
            background-color: #dfdfdf;
            margin: 0 50px;
        }
    }
</style>