---
let html = await Astro.slots.render('default')
const lines = html.split('\n');
html = lines.slice(0, lines.length - 1).join('\n') + '</code>';
let text = html.replace(/<[^>]*>/g, '');
text = text.replace(/&lt;/g, '<');
text = text.replace(/&gt;/g, '>');
text = text.replace(/&quot;/g, '"');

import CopyButton from '@components/CopyButton.svelte';
---

<div class="code-container">
    <CopyButton copyText={text} client:visible />
    <div>
        <pre set:html={html} />
    </div>
</div>

<style>
    
    .code-container {
        overflow: hidden;
        position: relative;
    }

    .copy-button {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        padding: 4px 8px;
        font-size: 0.8rem;
        cursor: pointer;
    }

    div {  
        background-color: var(--pre-background--light);
        border-radius: 8px;
        overflow-x: scroll; 
        
        &::-webkit-scrollbar {
			height: 8px;
		}
		&::-webkit-scrollbar-thumb {
			background: #888894;
			
		}
		&::-webkit-scrollbar-thumb:hover {
			background: #555;
		}
		&::-webkit-scrollbar-track {
			background: transparent;
			height: 8px;
			
		}
    }

    pre {
        padding: 16px 0px 16px 16px;
        line-height: 1.2;
        font-family: 'IBM Plex Mono', monospace;  
        position: relative;
    }

    
</style>